.product-sections {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  max-width: 1110px;
}
/* Hide the scrollbar */
::-webkit-scrollbar {
  display: none;
}

/* Optional: You can still make the content scrollable */
.scrollable {
  overflow: scroll; /* or 'auto' */
}
